@{
    ViewData["Title"] = "Створення замовлення";
}
<style>
    .tbody {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
    }

    .container {
        text-align: center;
    }

    .button-container {
        margin-top: 10px;
    }

    .card-body {
        text-align: left;
    }

    #input-count {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }
</style>

<div class="text-center">
    <h1 class="page-title">Створення нового замовлення</h1>
</div>
<div class="container mb-3">
    @if (Model == null)
    {
        <div class="tbody">
            <b style="font-size: 20px;">Замовлення було успішно додано!</b>
        </div>
    }
    else
    {
        <form method="post" action="@Url.Action("Create","AddOrder")">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="statusid">Статус замовлення:</label>
                        <select id="statusid" name="statusid" class="form-control" required>
                            @foreach (var status in Model.OrderStatuses)
                            {
                                <option value="@status.Id"> @status.Name </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="createdate">Дата створення замовлення:</label>
                        <input type="text" id="createdateid" name="createdate" class="form-control" value=@DateTime.Now required />
                    </div>
                    <div class="form-group">
                        <label for="updatedate">Дата останнього оновлення замовлення:</label>
                        <input type="text" id="updatedateid" name="updatedate" class="form-control" value=@DateTime.Now required />
                    </div>
                    <div class="form-group">
                        <label for="comment">Коментар:</label>
                        <input type="text" id="commentid" name="comment" class="form-control" value="comment" required />
                    </div>
                    <div class="form-group">
                        <label for="client">Клієнт:</label>
                        <select id="clientid" name="clientid" class="form-control" required>
                            @foreach (var client in Model.Clients)
                            {
                                <option value="@client.Id">@client.Login @client.Name @client.Surname @client.Patronymic </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="manager">Менеджер:</label>
                        <select id="managerid" name="managerid" class="form-control" required>
                            @foreach (var manager in Model.Managers)
                            {
                                <option value="@manager.Id">@manager.Login @manager.Name @manager.Surname @manager.Patronymic </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group" style="text-align:center; display:flex; justify-content:center; margin-bottom: 10px;">
                    <button type="submit" class="btn btn-primary" style=" width:300px;">Створити нове замовлення</button>
                </div>
            </div>
        </form>
    }
</div>

<form method="get" style="text-align:center; display:flex; justify-content:center; margin-bottom: 10px;" action="@Url.Action("GetOrders","ManagerOrders")">
    <button type="submit" class="btn btn-warning" style="width: 300px;">Повернутись до замовлень</button>
</form>
