@{
    ViewData["Title"] = "Замовлення";
}
<style>
    .tbody {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60vh;
    }

    .container {
        text-align: center;
    }

    .button-container {
        margin-top: 10px;
    }

    .card-body {
        text-align: left;
    }

    #input-count {
        text-align: center;
    }

    th {
        vertical-align: middle;
    }

    .inputs {
        text-align: center;
    }

    p {
        margin-left: 10px;
    }

    .description {
        display: inline-block;
        margin-right: 30px; 
    }
</style>

<div class="text-center">
    <h1 class="page-title">Замовлення</h1>
</div>
<div class="inputs">
    <form method="get" asp-controller="ManagerOrders" asp-action="SearchOrders">
        <label for="searchInput" style="margin-right: 10px;">Пошук:</label>
        <input type="text" id="criteriaid" name="searchcriteria" style="width:70%; margin-right: 10px;" placeholder="Введіть номер замовлення або дані з ПІБ клієнта для пошуку...">
        <button type="submit" class="btn btn-warning" style="margin-bottom: 15px; margin-top: 10px;">Знайти</button>
    </form>
</div>
<div class="inputs">
    <form method="get" action="@Url.Action("AddClient","AddClient")">
        <button type="submit" class="btn btn-warning " style="width: 300px; margin-bottom: 25px; margin-top:10px;">
            Додати нове замовлення
        </button>
    </form>
    <form method="get" asp-controller="Home" asp-action="ManagerMenu">
        <button type="submit" class="btn btn-warning " style="width: 300px; margin-bottom: 20px;">Повернутись до меню</button>
    </form>
</div>

<div class="container mb-3">
    <div class="container">
        @for (int i = 0; i < Model.Count; i++)
        {
            double price = 0;
            <div class="card-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="inputs">
                            <p class="card-title"><b> Номер замовлення: @Model[i].Order.Id</b></p>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th class="card-header" style="text-align:center;width:4%;">№</th>
                            <th class="card-header" style="text-align:center;width:45%;">Назва автозапчастини</th>
                            <th class="card-header" style="text-align:center;width:15%">Код</th>
                            <th class="card-header" style="text-align:center;width:10%">Ціна</th>
                            <th class="card-header" style="text-align:center;">Кількість деталей в наявності</th>
                            <th class="card-header" style="text-align:center;">Обрана кількість деталей клієнтом</th>
                        </tr>
                        @{
                            i--;
                        }
                        @do
                        {
                            i++;
                            <tr>
                                <td>@Model[i].AutoPart.Id</td>
                                <td> @Model[i].AutoPart.Name</td>
                                <td> @Model[i].AutoPart.Code</td>
                                <td> @Model[i].AutoPart.Price</td>
                                <td> @Model[i].AutoPart.Quantity</td>
                                <td> @Model[i].AutoPart.SelectedPartCount</td>
                                @{
                                    price += Model[i].Price;
                                }
                            </tr>
                        } while (i != Model.Count - 1 && Model[i + 1].Order.Id == Model[i].Order.Id);
                    </table>
                    @{
                        string createdate = Model[i].Order.CreateDate.ToShortDateString();
                        string updatedate = Model[i].Order.UpdateDate.ToShortDateString();
                        TimeSpan difference = DateTime.Now.Subtract(Model[i].Order.UpdateDate);
                        int differenceInDays = (int)difference.TotalDays;
                    }
                    <p>ПІБ клієнта: @Model[i].Order.Client.Surname @Model[i].Order.Client.Name @Model[i].Order.Client.Patronymic</p>
                    <p>
                        <span class="description">Лоігн: @Model[i].Order.Client.Login </span>
                        <span class="description">Електронна пошта: @Model[i].Order.Client.Email</span>
                    </p>

                    <p>Телефон: @Model[i].Order.Client.Phone</p>
                    <p>Адреса: @Model[i].Order.Client.Adress</p>
                    <p>Менеджер який оброблює замовлення: @Model[i].Order.Manager.Surname @Model[i].Order.Manager.Name @Model[i].Order.Manager.Patronymic</p>
                    @if (Model[i].Order.Manager.Login != "1")
                    {
                        <p><span class="description">Логін менеджера який оброблює замовлення: @Model[i].Order.Manager.Login</span><span class="description">Електронна пошта: @Model[i].Order.Manager.Email</span></p>
                        <p>Телефон менеджера який оброблює замовлення: @Model[i].Order.Manager.Phone</p>
                        <p>Загальна вартість автозапчастин: @price грн</p>
                    }
                    <p>
                        <span class="description">Дата створення замовлення: @createdate</span>
                        <span class="description">Дата останнього оновлення замовлення: @updatedate</span>
                    </p>
                    <p>Днів з останнього оновлення: @differenceInDays</p>
                    <div class="inputs">

                        <form method="get" action="@Url.Action("UpdateOrder","UpdateOrder")">
                            <input type="hidden" name="id" value="@Model[i].Order.Id" />
                            <button type="submit" class="btn btn-info" style="width: 300px; margin-bottom: 10px;margin-top:10px;">
                                Змінити
                                </button>
                        </form>
                        <form method="post" action="@Url.Action("Delete","ManagerOrders")">
                            <input type="hidden" name="id" value="@Model[i].Order.Id" />
                            <button type="submit" class="btn btn-danger" style="width: 300px; margin-bottom: 10px;">
                                Видалити
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        }
    </div>
</div>