@{
    ViewData["Title"] = "Клієнти";
}

<style>
    .table, .table-info {
        border-color: black;
    }

    td {
        vertical-align: middle;
        text-align: center;
    }

    th {
        vertical-align: middle;
        text-align: center;
    }

    .inputs {
        text-align: center;
    }
</style>
<div class="text-center">
    <h1 class="page-title">Клієнти</h1>
</div>
<div class="inputs">
    <form method="get" asp-controller="ManagerClients" asp-action="SearchClients">
        <label for="searchInput" style="margin-right: 10px;">Пошук:</label>
        <input type="text" id="criteriaid" name="searchcriteria" style="width:70%; margin-right: 10px;" placeholder="Введіть логін або ім'я клієнта для пошуку...">
        <button type="submit" class="btn btn-warning" style="margin-bottom: 15px; margin-top: 10px;">Знайти</button>
    </form>
</div>

<div class="text-center">
    <form method="get" action="@Url.Action("AddClient","ManagerOrders")">
        <button type="submit" class="btn btn-warning " style="width: 300px; margin-bottom: 25px; margin-top:10px;">
            Додати нового клієнта
        </button>
    </form>
    <form method="get" asp-controller="Home" asp-action="ManagerMenu">
        <button type="submit" class="btn btn-warning " style="width: 300px; margin-bottom:20px;">Повернутись до меню</button>
    </form>

    <table class="table table-hover table-bordered">
        <thead class="table-info">
            <tr>
                <th>№</th>
                <th>Логін</th>
                <th>Пароль</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>По батькові</th>
                <th>Телефон</th>
                <th>Електронна пошта</th>
                <th>Адреса</th>
                <th>Видалити</th>
                <th>Змінити</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Login</td>
                    <td>@client.Password</td>
                    <td>@client.Name</td>
                    <td>@client.Surname</td>
                    <td>@client.Patronymic</td>
                    <td>@client.Phone</td>
                    <td>@client.Email</td>
                    <td>@client.Adress</td>
                    <td>
                            <form method="post" action="@Url.Action("Delete","ManagerClients")">
                            <input type="hidden" name="id" value="@client.Id" />
                            <input type="hidden" name="autopart" value="@client" />
                                <button type="submit" class="btn btn-danger">Видалити</button>
                            </form>
                    </td>
                    <td>
                        <form method="get" action="@Url.Action("UpdateClient","UpdateClient")">
                            <input type="hidden" name="id" value="@client.Id" />
                                <button type="submit" class="btn btn-info">Змінити</button>
                            </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>



<style>
    .add-to-cart-btn.disabled {
        background-color: indianred;
        cursor: not-allowed;
    }

        .add-to-cart-btn.disabled:hover {
            background-color: #ccc;
        }
</style>
